<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}ASOC{% endblock %}</title>
    
    {% block stylesheets %}
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/transition.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chart.css') }}">
    {% endblock %}

  </head>

<body class="bg-light">
    <main role="main" class="cd-index cd-main-content">            
        <div class="container-fluid">    
            <header class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">ASOC</h3>
            </header>
        </div>
        <div class="container-fluid">
            <div class="row text-center">

                <!-- introducir url -->
                <div class="col-12">
                    <div class="card card-body bg-secondary">
                        <div class="row col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="url" placeholder="url de página de Facebook">
                                <span class="input-group-btn">
                                <button id="buscar" type="button" class="btn btn-primary">Buscar</button>    
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div id="resultados" class="card card-body bg-white" style="height: 100vh">

                <div class="row">
                    <div class="col-12">
                        <h1 id="pagina"></h1>
                    </div>
                </div>

                <div id="graficas" class="row">
                    <div class="col-12 text-center">
                        <h3 id="no_comments"></h3>
                    </div>
                    <div id="bl_acept" class="col-4 text-center">
                        <svg id="acept" width="470" height="250"></svg>
                        <label for="acept">Porcentaje de Aceptación</label>
                    </div>

                    <div id="bl_neg_" class="col-4 text-center">    
                        <svg id="neg_" width="470" height="250"></svg>
                        <label for="neg_">Negativos+</label>
                    </div>
                    <div id="bl_neg" class="col-4 text-center">
                        <svg id="neg" width="470" height="250"></svg>
                        <label for="neg">Negativos</label>
                    </div>
                    <div id="bl_neu" class="col-4 text-center">
                        <svg id="neu" width="470" height="250"></svg>
                        <label for="neu">Neutrales</label>
                    </div>
                    <div id="bl_pos" class="col-4 text-center">
                        <svg id="pos" width="470" height="250"></svg>
                        <label for="pos">Positivos</label>
                    </div>
                    <div id="bl_pos_" class="col-4 text-center">
                        <svg id="pos_" width="470" height="250"></svg>
                        <label for="pos_">Positivos+</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="cd-cover-layer"></div> <!-- this is the cover layer -->
     
        <div class="cd-loading-bar"></div> <!-- this is the loading bar -->
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/liquidFillGauge.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/draw.js') }}" ></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


    <script type=text/javascript>
        // Llamada Ajax en busqueda de los resultados de la pagina de Facebook
        function getResultados(){
            // Primero se necesita obtener el valor del url
            var url_ = $("#url").val();
            $.ajax({
                // En data puedes utilizar un objeto JSON, un array o un query string
                data: {"url" : url_},
                //Cambiar a type: POST si necesario
                type: "GET",
                // Formato de datos que se espera en la respuesta
                dataType: "json",
                // URL a la que se enviará la solicitud Ajax
                url: $SCRIPT_ROOT + '/search',
            })
            .done(function( data, textStatus, jqXHR ) {
                if ( console && console.log ) {
                    mostrarResultados(data.result);

                    // Quita la animacion de espera
                    $('body').removeClass('page-is-changing');
                    
                    $('.cd-loading-bar').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){

                        $('.cd-loading-bar').off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend');
                    });
                    isAnimated = false;
                }
            })
            .fail(function( jqXHR, textStatus, errorThrown ) {
                if ( console && console.log ) {
                    console.log( "La solicitud a fallado: " +  textStatus);
                    // Quita la animacion de espera
                    $('body').removeClass('page-is-changing');
                    
                    $('.cd-loading-bar').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){

                        $('.cd-loading-bar').off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend');
                    });
                    isAnimated = false;
                }
            });    
        };
    </script>
    {% endblock %}
</body>
</html>
